@import "tailwindcss";

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f5f5f5;
  color: #333;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
}

[role="button"] {
  cursor: pointer;
}
